name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          cache: false  # Disable cache
          
      - name: Verify versions
        run: |
          flutter --version
          dart --version
          
      - name: Get dependencies
        run: flutter pub get
        
      - name: Analyze
        run: flutter analyze
        
      - run: flutter build apk --debug
