name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.28.0'  # This has Dart 3.4.4
        cache: false
    - run: flutter pub get
    - run: flutter analyze
    - run: flutter build apk --debug
